/* app/globals.css */
@import "tailwindcss";

@import "../styles/tokens.css";
@import "../styles/base.css";
@import "../styles/components.css";
@import "../styles/typography.css";
@import "../styles/pretty-code.css";

@plugin "@tailwindcss/typography";
